.app {
  display: flex;
}

.activity-list {
  width: 60%;
}

.activity-map {
  width: 40%;
}

.activity-stats {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 5px;
  p {
    margin-right: 10px;
  }
}
