.mapboxgl-canvas-container {
  position: relative;
  height: 90vh;
  margin-top: 10px;
}

.mapboxgl-canvas {
  position: fixed;
}


.mapboxgl-ctrl-attrib-inner {
  position: fixed;
  bottom: 5px;
  font-size: 10px;
  a {
    color: black;
  }
}
