.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #FC5200;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 160px;
}

.nav-item {
  display: flex;
  font-size: 12px;
}

.friend-requests {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 20px;
  p {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-weight: 700;
    background-color: #FC4C03;
    padding: 0px 3px;
    opacity: 0.8;
    font-size: 9px;
  }
}
